@import "../../style/main.scss";

.tag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 25px;
    min-width: fit-content;
    width: 115px;
    background: $main-color;
    border-radius: 10px;
    &__text {
        color: white;
        font-size: 14px;
        margin: 5px;
        @media (max-width: 992px) {
            font-size: 10px;
          }
    }
}