@import "../../style/main.scss";

.rate {
  width: 196px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 992px) {
    width: 98px;
    height: 18px;
  }
  &__icon__red {
    @media (max-width: 992px) {
      height: 15px;
    }
  }
  &__icon__grey {
    @media (max-width: 992px) {
      height: 15px;
    }
  }
}
